.header {
    display: flex;
    background-color: #4B4B4B;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px 20px 20px 20px;
    border: none;
  }

  *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
  }

*{
    outline: 1px solid red !important;
 }

  .logo {
      width: 40px;
      padding: 20px 20px 20px 20px;
  }

  .title
  {
      width: 700px;
      padding: 0px;
      font-size: 40px;
      text-align: center;
      font-family: 'Merriweather', serif;
      position: relative;
      left: 300px;
  }

  h1 {
      color: aliceblue;
  }

  h2 {
      color: #4B4B4B;
      font-size: 30px;
      font-family: 'Merriweather', serif;
  }

  h3 {
      color: #4B4B4B;
      font-style: italic;
      font-size: 25px;

  }

  p {
      color: black;
      font-size: 20px;
  }

  .navbar {
      overflow: hidden;
      background-color: #b76c77;
      width:100%;

  }

  .navbar a {
      float: left;
      color: aliceblue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Merriweather', serif;
  }

  .list {
      font-size: 25px;
      color: black;
  }

  .minorlist {
      color: black;
      font-size: 20px;
  }