
body {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border: none;
  }

  *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
  }


.maintitle {
    width: 50%;
    padding: 0px;
    font-size: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    position: relative;
    color:#b76c77;
    top: 0px;
    left: 200px;
}


  h1 {
      color: #b76c77;
      font-family: 'Merriweather', serif;
  }

  h2 {
      color: #b76c77;
      font-size: 30px;
      font-family: 'Merriweather', serif;
      position: relative;
      top: 40px;
  }

  h3 {
      color: #4B4B4B;
      font-style: italic;
      font-size: 25px;
      font-family: 'Merriweather', serif;

  }

  p {
      color: black;
      font-size: 20px;
      font-family: 'Merriweather', serif;
  }

  .navbar {
      overflow: hidden;
      background-color: #4B4B4B;
      width:100%;
    }

  .navbar a {
      float: left;
      display: inline;
      color: aliceblue;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Merriweather', serif;
      }


  .list {
      font-size: 25px;
      color: aliceblue;
      }

  .minorlist {
    color: black;
    font-size: 20px;
    font-family: 'Merriweather', serif;
  }

  .blogtext {
      background-color: #b76c77;
      position: relative;
      top: 30px;
  }

  .placeholder {
      background-color: #4B4B4B;
      color: aliceblue;
      text-align: center;
      position: relative;
      top: 50px;
  }

  .wireframeimg {
      width: 50vw;
  }

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }